@tailwind base;
@tailwind components;
@tailwind utilities;

.glow {
    text-shadow: 5px 0px 25px #00ffd5;
    color: #ffffff;
    background-color: #ffffff00;
}

.makeBlur {
    background: rgba(33, 33, 33, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(191, 191, 191, 0.43)
}
